.tree-view {
    list-style: none;
    padding-inline-start: 15px;

    .tree-node {
        .tree-node-info {
            cursor: pointer;
            color: #676a6c;

            .tree-node-expander {
                width: 20px;
                display: inline-block;
            }

            .tree-node-text {
                font-weight: bold;
            }
        }
    }
}