<div class="form-group row" [ngClass]="{invalid: field.invalid}">
    <label class="col-sm-{{options?.width ? options.width:4}} col-form-label font-weight-bold">{{options?.label}}</label>
    <div class="col-sm-{{options?.width ? 12:8}}" [ngSwitch]="type">
        <input *ngSwitchCase="'input'" type="text" class="form-control" [formControl]="field" mask="{{options?.mask}}">
        <input *ngSwitchCase="'email'" type="email" class="form-control" [formControl]="field" autocomplete="off">
        <input *ngSwitchCase="'password'" type="password" class="form-control" [formControl]="field" autocomplete="off">
        <textarea *ngSwitchCase="'textarea'" type="text"  class="form-control" [formControl]="field" rows="{{options.rows}}"></textarea>
        <select *ngSwitchCase="'select'" class="form-control" [formControl]="field">
            <option disabled selected value="">{{options?.droptext}}</option>
            <option *ngFor="let option of options?.elements" [value]="option.id">{{option.name}}</option>
        </select>
        <div *ngSwitchCase="'switch'" class="custom-control custom-switch">
            <input type="checkbox" (change)="switched($event)" [checked]="isChecked" class="custom-control-input" id="custom-switch">
            <label class="custom-control-label" for="custom-switch">{{ isChecked ? (options.trueCaption || 'Activo') : (options.falseCaption || 'Inactivo') }}</label>
        </div>
        <input *ngSwitchCase="'radio'" type="radio" class="radio-inline" [formControl]="field" [value]="options.value" [checked]="checked()" id="custom-switch">
        <div *ngSwitchCase="'image'">
            <div class="avatar-upload" [ngClass]="options?.class">
                <div class="avatar-edit">
                    <input type='file' id="imageUpload-{{options?.path}}" (change)="readFile($event)" multiple="multiple" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload-{{options?.path}}"></label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" [style.background-image]="bgStyle()">
                    </div>
                </div>
                <br>
                <div *ngIf="options?.buttonVisible">
                    <label for="imageUpload-{{options?.path}}" class="btn btn-primary btn-block">{{options.text}}</label>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="'datepicker'">
            <input class="form-control" placeholder="{{options?.placeholder}}" [formControl]="field" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">     
        </div>
</div>