<div class="d-block">
    <span class="d-block text-info">{{ data.client.name }}</span>
    <span class="d-block"><b>{{data.error_code.category}} - {{ data.error_code.code }} - {{data.error_code.name}}</b></span>
    <small class="d-block">{{data.description}}</small>
</div>