<div class="col-md-10 content" ng-class="{'no-top-border': $first}">
        <dl class="dl-horizontal">
            <dt>Tipo</dt>
            <dd ng-switch="" on="event.type">
                <span ng-switch-when="installation" class="ng-scope">{{ item.ticket.type }}</span>
            </dd>
            <dt>Descripción</dt>
            <dd>{{ item.ticket.description }}</dd>
            <dt>Costo estimado</dt>
            <dd>{{ item.ticket.estimated_service_fee | currency:'$':2 }}</dd>
            <dt>Razones</dt>
            <dd>{{ item.ticket.estimated_service_fee_reasons }}</dd>
            <dt>Código de error</dt>
            <dd></dd>
        </dl>
</div>