<dl>
    <p class="m-b-xs">
        <span class="label label-info" *ngIf ="item.hasOwnProperty('closed')">Cerrado</span>
        <span class="label label-success" *ngIf ="item.hasOwnProperty('id_confirmations')">Firmado por el cliente</span>
        <span class="label label-success" *ngIf ="item.hasOwnProperty('id_completions') && item.hasOwnProperty('id_assignations')">Completado por el técnico</span>
        <span class="label label-warning" *ngIf ="item.hasOwnProperty('id_assignations') && !item.hasOwnProperty('id_completions')">Asignado</span>
        <span class="label label-danger" *ngIf ="item.hasOwnProperty('created')">Abierto</span>
    </p>
    <dt>Técnico</dt>
    <dd>
    <div class="row">
        <div class="col-md-2">
            <img alt="image" src="https://picsum.photos/68/68" class="img-circle">
        </div>
        <div class="col-md-10">
            <i class="fa fa-fw fa-lg fa-user"></i>{{ item.technician.name}}<br>
            <i class="fa fa-fw fa-lg fa-phone"></i>{{ item.technician.phone}}<br>
            <i class="fa fa-fw fa-lg fa-envelope"></i>{{ item.technician.email}}
        </div>
    </div>
    </dd>
    <dt>Detalles</dt>
    <dd class="ng-binding">{{ item.details }}</dd>
</dl>