<div class="modal-header">
  <h4 class="modal-title">{{config?.title || "value"}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<app-modal-body [props]="props"></app-modal-body>

<ngx-loading [show]="loading"></ngx-loading>