<div class="container-fluid border-bottom bg-white p-3 mb-4">
    <h2>Total App Shares</h2>
    <canvas baseChart
    [datasets]="totalShareChartData"
    [options]="options"
    [chartType]="barChartType"></canvas>
</div>
