<div class="row ng-scope">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <i>Usuarios</i>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <tbody>
                <app-datatable [options]="dataTableConfig"></app-datatable>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <i>Usuarios seleccionados</i>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <tbody>
                <tr *ngFor="let client of selectedClients">
                  <td>{{client.name}}</td>
                  <td class="remove"><button type="button" class="btn btn-success" (click)="removeClient(client)">Remover</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label class="control-label">Mensaje</label>
      <app-form-field type="textarea" styleInput="textarea" [options]="{rows: '4', path:'message', width: true}"></app-form-field>
    </div>
    <div class="col-md-offset-10 col-md-2">
      <button class="btn btn-info" (click)="notifyClient()"><i class="fa fa-send"></i>Notificar
      </button>
    </div>
  </div>