<div class="container">
    <div class="row timeline-item ng-scope" *ngFor="let item of items">
        <div class="col-md-2 date-event">
            <br>
            {{item.created_at | date:'medium' }}
            <small class="text-navy"></small>
        </div>
        <div class="col-md-10 content no-top-border">
            <app-items [item]="item" [type]="type"></app-items>
        </div>
    </div>
</div>