h4.modal-title{
    font-size: 16px !important;
}
h5{
    margin-top:0px;
}
.btn.btn-success.btn-lg.btn-block.ladda-button{
    margin-bottom:10px;
    background-color: #1c84c6;
}
.row.client-info{
    background: #F1f1f1;
    border-radius: 13px;
    margin-top:-70px;
    margin-bottom: 10px;
}
.row.selected-tech{
    background: #F1f1f1;
    border-radius: 13px;
    margin-bottom: 10px;
}