<dl>
    <div [ngSwitch]="item.type">
        <span *ngSwitchCase="'invalidations'" class="badge badge-warning">Invalidación</span>
        <span *ngSwitchCase="'cancellations'" class="badge badge-danger">Cancelación</span>
        <span *ngSwitchCase="'rejections'" class="badge badge-danger">Rechazo</span>
    </div>
    <br>
    <dt>{{item.reasons}}</dt>
</dl>