<!-- <div class="ibox-content table-responsive">
    <table class="table">
        <thead>
          <tr class="row">
            <th class="col-sm-6">Datos anteriores</th>
            <th class="col-sm-6">Datos actuales</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row">
            <td class="text-truncate">
            <pre>
                {{item.element.before_data}}
            </pre>
            </td>
            <td class="text-truncate">
                <pre>
                    {{item.element.after_data}}
                </pre>
            </td>
          </tr>
        </tbody>
      </table>
</div> -->
<div class="row">
    <div class="col-sm-6">
        <pre>{{item.element.before_data}}</pre>
    </div>
    <div class="col-sm-6">
        <pre>{{item.element.after_data}}</pre>
    </div>
</div>